#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

override_dh_shlibdeps:
	dh_shlibdeps -l`pwd`/debian/oracle-instantclient-basic/usr/lib/oracle/11.2/client/lib

build:
	unzip -o \*.zip
